<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CN" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Emmanuel\Projects\Desarrollo III\Demo01\ClientUI\OrderDBClient.mdf;Integrated Security=True" />
	</connectionStrings>
</configuration>