<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings />
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>aZoOo3oVoANItPwSPyCkKRwsk3XnuyzA1AvYXco1ZVH6K+GNbN00G1uZTOSrBmqFjJ7vXlUTkdvh7fdSxAsS58GE1+UpQE5bvyhdo0VR74PfKcAJKUDViQI3BFKnn312wyIGqVq9Ca5gDgQGCDAPey1f4SUvNpQedk2Jb/1x60wNPBuRF235xTEVrJ06KHzSEK+7N+yueDX+ADke5WL2nL7ZVYF/6WRcARXXVCDa8fG4opELJpen4kjrcV+kenFEDaOocLAkJOHlySJFzUHLk0RpkdWoJAOQGyUrNtHbuBiVRc4z6sQleqmtRjJfxXWWAdmUWhbezNY7zSa9aPgcHw==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>tPLxyqBoal179A5WvuU6QX8LKE46QoA75+VPEt5cj2a2GsOAORFh3xJepQIJOYpL</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <startup>
		<connectionStrings>
			<add name="CN" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Emmanuel\Projects\Desarrollo III\Demo01\Demo01\MyData.mdf;Integrated Security=True"></add>
		</connectionStrings>
		<appsettings>
			<add key="LOCALIDAD" value="Santiago">
			</add>
		</appsettings>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>